{% extends "cashier/_base.html" %}

{% block title %}{{ data.page.title }}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/cashier/orders/order_status.css') }}">
{% endblock %}

{% block content_title %}{{ data.page.title }}{% endblock %}

{% block content_body %}
<div class="row justify-content-center m-0" id="Order">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6">


        {% if orders|length > 0 %}
        <input type="text" class="w-100" id="search-btn" placeholder="Search for Order..">
        <button id="update-btn" type="button" class="btn btn-dark w-100 my-2">Update Table
        </button>
        <table class="mt-2 rounded table table-dark table-responsive-sm table-hover thead-dark" id="Table">
            <thead>
            <tr>
                <th class="text-center black ">ID</th>
                <th class="text-center black">Menu Item</th>
                <th class="text-center black">Count</th>
                <th class="text-center black">Receipt</th>
                <th class="text-center black">Create time</th>
            </tr>
            </thead>

            <tbody id="row_table">

            {% include 'cashier/orders/includes/table_body.html' %}

            </tbody>
        </table>

        {% else %}
        <div class="alert alert-info my-2">There is no Orders Yet!</div>
        {% endif %}

    </div>
</div>
{% endblock %}

{% block extra_footer %}
<script src="{{ url_for('.static', filename='js/cashier/orders/order_status.js') }}"></script>
{% endblock %}



