<div class="modal fade" id="cart" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content customize-modal">
            <div class="modal-header text-center">
                <h5 class="modal-title w-100 text-info" id="exampleModalLabel">Your Cart</h5>
            </div>
            <div class="modal-body">
                <div class="container" id="cart-loader">

                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger text-center"  data-bs-dismiss="modal">Close</button>
                <button class="btn btn-primary text-center" onclick="payment()" data-bs-dismiss="modal">Pay</button>
            </div>
        </div>
    </div>
</div>
