<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content p-3 customize-modal">
            <div class="modal-header text-center">
                <h5 class="modal-title" id="exampleModalLabel">Choose a table please</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row justify-content-center">
                        {% if tables|length > 0 %}
                            {% for table in tables %}

                                <div class="col-7 col-md-6 col-lg-4 m-1 tables table-item p-2" data-bs-dismiss="modal"
                                     style="color: whitesmoke;height:10rem;"
                                     id="{{ table.id }}">
                                    <img class="table-bg" src="{{ url_for('.static', filename='images/table.png') }}"
                                         alt="table-bg">
                                    <h1 class="text-center">#{{ table.id }}</h1>
                                    <h4 class="text-center">Capacity : {{ table.capacity }}</h4>

<!--                                    <img src="{{ url_for('.static', filename='images/table.png') }}"-->
<!--                                         alt="">-->

                                </div>

                            {% endfor %}
                        {% else %}
                        <div class="bg-dark text-light">
                            <p class="text-center p-2 m-0 rounded fw-bold">There is no free table right now please
                                wait!</p>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="navbar-footer text-center">
                <button class="btn btn-danger text-center" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>