{% extends "cashier/_base.html" %}
{% block title %}About Setting{% endblock %}

{% block extra_head %}
{% endblock %}

{% block content_title %}About Setting{% endblock %}


{% block content_body %}
<div class="row">

    <div class="col-12 col-sm-11 col-md-9 col-lg-7 col-xl-6 mx-auto border rounded">

        <form action="{{ url_for('cashier.about_setting') }}" method="post">
            {{ form.csrf_token }}

            <div class="mb-3">
                {{ form.banner_url.label(class='form-label') }}
                {{ form.banner_url(class="form-control") }}
            </div>

            <div class="mb-3">
                {{ form.paragraph1.label(class='form-label') }}
                {{ form.paragraph1(class="form-control") }}
            </div>

            <div class="mb-3">
                {{ form.paragraph2.label(class='form-label') }}
                {{ form.paragraph2(class="form-control") }}
            </div>

            <div class="mb-3">
                {{ form.paragraph3.label(class='form-label') }}
                {{ form.paragraph3(class="form-control") }}
            </div>

            <div class="mb-3">
                {{ form.manager1.label(class='form-label') }}
                {{ form.manager1(class="form-control") }}
            </div>

           <div class="mb-3">
                {{ form.manager2.label(class='form-label') }}
                {{ form.manager2(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.manager3.label(class='form-label') }}
                {{ form.manager3(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.manager4.label(class='form-label') }}
                {{ form.manager4(class="form-control") }}
            </div>

            <button type="submit" class="btn btn-primary w-100">Set Setting</button>

        </form>

    </div>

</div>
{% endblock %}

{% block extra_footer %}
{% endblock %}

