<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <!--  Images here      -->
        <div class="carousel-item active" data-bs-interval="5000">
            <img src="{{ url_for('.static', filename='images/home_page_pic/cafe-pic1.jpg') }}" class="d-block w-100"
                 alt="Banner1">
        </div>

        <div class="carousel-item" data-bs-interval="5000">
            <img src="{{ url_for('.static', filename='images/home_page_pic/cafe-pic2.jpg') }}" class="d-block w-100"
                 alt="Banner2">
        </div>

        <div class="carousel-item" data-bs-interval="5000">
            <img src="{{ url_for('.static', filename='images/home_page_pic/banner5.jpg') }}" class="d-block w-100"
                 alt="Banner2">
        </div>

    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>

</div>