#Order {
    font-family: Arial, Helvetica, sans-serif;
}

#Order tr {
    border: 10px solid #faf2f2;

}

#Order thead {
    background-color: #1a7dd7;
    color: #faf2f2;
}

#Order tbody {
    background-color: #faf2f2;
}

#row_table tr:hover {
    background-color: #858383;
}


