<div class="row justify-content-center p-0 m-0" style="font-family: Byekan, Helvetica, sans-serif">
    <div class="col-12 col-lg-5 mt-3">
        <div class="rounded text-light h-100 p-4" style="box-shadow: 3px 2px 13px black;">
            <h3 class="text-center text-warning "> {{ data['site_name'] }} Cafe</h3>
            <h5 class="pt-2">Working Hours: </h5>
            <p>Everyday 9AM - 11PM</p>

            <h5>Support</h5>
            <p>Phone: +0123456789</p>
            <p>Email: {{ data['site_name'] }}@email.com</p>

            <h5>Address:</h5>
            <p>Somewhere in the world</p>
            <iframe width="100%" height="400"
                    src="https://maps.google.com/maps?q=Art%20coffe,zanjan%20&t=&z=13&ie=UTF8&iwloc=&output=embed">
            </iframe>
        </div>
    </div>
    <div class="col-12 col-lg-5 mt-3 ">
        {% include 'landing/contact_us/contact-us-form.html' %}
    </div>

</div>
