{% extends "cashier/_base.html" %}
{% block title %}{{ data.page_title }}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/cashier/discount/add.css') }}">
{% endblock %}

{% block content_title %}{{ data.page_title }}{% endblock %}


{% block content_body %}
<div class="row">

    <div class="col-12 col-sm-11 col-md-9 col-lg-7 col-xl-6 mx-auto">
        <div class="card card-primary">

            <!-- form start -->
            <form action="{{ url_for('.cashier_add_discount') }}" method="POST">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for status, message in messages %}
                <div class="alert alert-{{ status }} alert-dismissible fade show" role="alert">

                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
                <div class="card-body">
                    <div class="form-group">
                        <label for="discountValue">Set Discount</label>
                        <div class="value">0</div>
                        <input class="form-control-range" id="discountValue" name="discountValue" type="range"
                               min="0" max="100" step="1"
                               value="0">
                    </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary btn-block">ADD</button>
                </div>
            </form>
        </div>
    </div>
    <!-- /.col-6 -->

</div>
<!-- /.row -->
{% endblock %}

{% block extra_footer %}
<script>
    let elem = document.querySelector('input[type="range"]');

    let rangeValue = function () {
        let newValue = elem.value;
        let target = document.querySelector('.value');
        target.innerHTML = newValue + "%";
    }

    elem.addEventListener("input", rangeValue);
</script>
{% endblock %}

