{% extends "cashier/_base.html" %}
{% import 'cashier/menuitems/macros.html' as macros %}

{% block title %}add item{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/cashier/menu_items/add_menu_item.css') }}">
{% endblock %}
{% block content_title %}Add Menu Item{% endblock %}
{% block content_body %}
<div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <form id="data-form" method="post" role="form" action="{{ url_for('.cashier_add_item') }}"
              enctype="multipart/form-data" novalidate>
            {{ form.csrf_token }}
            <!--  Name          -->
            <div class="form-group">
                {{ macros.render_form_field(form.name) }}
            </div>
            <!--   Price         -->
            <div class="form-group">
                {{ macros.render_form_field(form.price) }}
            </div>
            <!--   Serving Time Period     -->
            <div class="form-group">
                {{ macros.render_form_field(form.serving_time_period) }}
            </div>
            <!--   Estimated Cooking time     -->
            <div class="form-group">
                {{ macros.render_form_field(form.estimated_cooking_time) }}
            </div>
            <!--   category         -->
            <div class="form-group">
                {{ macros.render_form_field(form.category, field_class='form-select') }}
            </div>
            <!--   Discounts         -->
            <div class="form-group">
                {{ macros.render_form_field(form.discount, field_class='form-select') }}
            </div>
            <!--   Image uploading         -->
            <div class="my-2" id="uploadedImage">

            </div>
            {% if form.image.description %}
            <span class="d-inline form-text">{{ form.image.description }}</span>
            {% endif %}
            {% if form.image.errors %}
            <span class="btn btn-primary btn-block btn-lg btn-file is-invalid">
                    Browse image {{ form.image }}
                </span>
            <div class="invalid-feedback">
                {% for error in form.image.errors %}
                {{ error }}
                {% endfor %}
            </div>
            {% else %}
            <span class="btn btn-primary btn-block btn-lg btn-file">
                    Browse image {{ form.image }}
                </span>
            {% endif %}
            <!--   Submit button         -->
            {{ form.submit(class='btn btn-primary w-100 my-2') }}

        </form>

    </div>
</div>
{% endblock %}
{% block extra_footer %}
<script src="{{ url_for('.static', filename='js/cashier/menu_items/add_item.js') }}"></script>
{% endblock %}

