{% extends "cashier/_base.html" %}
{% block title %}{{ page_title }}{% endblock %}
{% block extra_head %}
{% endblock %}
{% block content_title %}{{ page_title }}{% endblock %}
{% block content_body %}
<div class="table-responsive text-capitalize">
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>name</th>
            <th>price</th>
        </tr>
        </thead>
        <tbody>
        {% for item in menuitems %}
        <tr id="{{ item.id }}">
            <td>{{ loop.index }}</td>
            <td>{{ item.name}}</td>
            <td>{{ item.price }}</td>
            <!--  Remove and Edit buttons      -->
            <td>
                <div class="d-flex">
                    <a href="#" id="{{ item.id }}" class="edit btn btn-primary shadow btn-xs sharp mr-1"
                       data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="fa fa-pencil"></i></a>
                    <a href="#" id="{{ item.id }}" class="btn btn-danger shadow btn-xs sharp delete-item"><i
                            class="fa fa-trash"></i></a>
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <!-- Menu Item Modal   -->
    {% include 'cashier/menuitems/includes/menu_item_modal.html' %}
</div>

{% endblock %}
{% block extra_footer %}
    <script src="{{ url_for('.static', filename='js/cashier/menu_items/menu_item_index.js') }}"></script>
{% endblock %}
