{% macro render_form_field(form_field, field_class='form-control') %}
{# render a bootstrap form field with corresponding field, class and its errors  #}

<div class="form-group">

    {% if form_field.errors %}
    {{ form_field.label(class='form-label') }}
    <span class="d-inline form-text">{{ form_field.description }}</span>
    <span class="form-text">{{ form_field.description }}</span>
    {{ form_field(class=field_class~' is-invalid') }}

    <div class="invalid-feedback">
        {% for error in form_field.errors %}
        {{ error }}
        {% endfor %}
    </div>

    {% else %}
    {{ form_field.label(class='form-label') }}
    <span class="d-inline form-text">{{ form_field.description }}</span>
    {{ form_field(class=field_class, placeholder=form_field.label.text|capitalize~' Here...') }}
    {% endif %}
</div>

{% endmacro %}


{% macro render_form_edit(form_field, field_class='form-control') %}

<div class="form-group">

    {{ form_field.label(class='form-label') }}
    <span class="d-inline form-text">{{ form_field.description }}</span>
    {{ form_field(class=field_class, placeholder=form_field.label.text|capitalize~' Here...') }}
    <div class="invalid-feedback">
    </div>

</div>

{% endmacro %}


