{% import 'cashier/menuitems/macros.html' as macros %}
<div class="row">
    <div class="mx-auto col-12 col-sm-10">
        <div class="panel">
            <div class="panel-body">
                <form action="{{ url_for('.cashier_list_menu') }}" method="post" novalidate
                      enctype="multipart/form-data" id="editMenuItemForm">
                    {{ form.csrf_token }}
                    <!--    id                -->
                    {{ form.id }}
                    <!--  Name          -->
                    <div class="form-group">
                        {{ macros.render_form_edit(form.name) }}
                    </div>
                    <!--   Price         -->
                    <div class="form-group">
                        {{ macros.render_form_edit(form.price) }}
                    </div>
                    <!--   Serving Time Period     -->
                    <div class="form-group">
                        {{ macros.render_form_edit(form.serving_time_period) }}
                    </div>
                    <!--   Estimated Cooking time     -->
                    <div class="form-group">
                        {{ macros.render_form_edit(form.estimated_cooking_time) }}
                    </div>
                    <!--   category         -->
                    <div class="form-group">
                        {{ macros.render_form_edit(form.category, field_class='form-select') }}
                    </div>
                    <!--   Discounts         -->
                    <div class="form-group">
                        {{ macros.render_form_field(form.discount, field_class='form-select') }}
                    </div>
                    <!--      picture       -->
                    <div class="my-2">
                        <label for="targetImage">{{ form.image.data }}</label><br>
                        <a href="{{ url_for('static', filename='images/menu_items/') }}{{ form.image.data }}"
                           target="_blank">

                            <img class="rounded"
                                 src="{{ url_for('static', filename='images/menu_items/') }}{{ form.image.data }}"
                                 alt="{{ form.image.data }}" id="targetImage" width="150" height="150">
                        </a>
                    </div>
                    <span class="d-inline form-text">{{ form.image.description }}</span>
                    {% if form.image.errors %}
                    <span class="btn btn-primary btn-block btn-lg btn-file is-invalid">
                            Browse image {{ form.image }}
                        </span>
                    <div class="invalid-feedback">
                        {% for error in form.image.errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    {% else %}
                    <span class="btn btn-primary btn-block btn-lg btn-file">
                            Browse image {{ form.image }}
                        </span>
                    {% endif %}

                    <!--   Submit button         -->
                    {{ form.submit(value='Update Item', class='btn btn-success w-100 my-2') }}

                </form>
            </div>
        </div>
    </div>
</div>
