{% import "landing/about_us/macros.html" as macros  %}
<div class="row d-flex justify-content-center m-0" style="font-family: Byekan, Helvetica, sans-serif">
    <div class="col-12 col-lg-5 mt-3">
        <div class="rounded text-light h-75" style="box-shadow: 3px 2px 13px black;">
            <h3 class="text-warning text-center pt-2">{{ data['site_name'] }} </h3>
            <div class="p-2">

                {{ macros.paragraph(about_setting.paragraph1) }}
                {{ macros.paragraph(about_setting.paragraph2) }}
                {{ macros.paragraph(about_setting.paragraph3) }}

            </div>
            <h5 class="text-warning text-center">Managed by</h5>
            <ul class="list-group text-center p-2 m-1">

                {{ macros.manager(about_setting.manager1) }}
                {{ macros.manager(about_setting.manager2) }}
                {{ macros.manager(about_setting.manager3) }}
                {{ macros.manager(about_setting.manager4) }}

            </ul>
        </div>
    </div>
    <div class="col-12 col-lg-5 mt-3">
        <div class="rounded text-light h-75" style="box-shadow: 3px 2px 13px black;">
            <img
                    src="{% if about_setting.banner_url %}
                            {{ about_setting.banner_url }}
                        {% else %}
                        {{ url_for('.static', filename='images/about_page_pic/about_banner.jpg') }}"
                    {% endif %}
                    alt="CAFE"
                    class="rounded float-start"
                    width="100%" height="100%">
        </div>
    </div>

</div>


