<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/landing/main.css") }}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    {% include "landing/includes/fonts.html" %}
    {% include "landing/includes/bootstrap.html" %}
    <title>Home</title>
</head>
<body class="bg-dark">
    {% include "landing/layouts/navbar.html" %}
    <div class="container-fluid p-0 m-0 text-dark" id="page-loader">
        {% include "landing/home/home.html" %}
    </div>

    <div class="row m-0 p-0">
        {% include "landing/layouts/footer.html" %}
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/jquery-cookie.js') }}"></script>
    <script src="https://unpkg.com/sweetalert@2.1.2/dist/sweetalert.min.js"></script>
    <script src="{{ url_for('static', filename='js/landing/main.js') }}"></script>
</body>
</html>