<table class="table text-white" style="direction: ltr;">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Items</th>
      <th scope="col">Count</th>
      <th scope="col">Price</th>

    </tr>
  </thead>
  <tbody>
  {% for order in orders %}
    <tr>
      <th scope="row">{{ loop.index }}</th>
      <td>{{ order.name }}</td>
      <td>{{ order.count }}</td>
      <td>${{ order.price * order.count }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<p>Total Price: $<span id="totalPrice">{{ total_price }}</span></p>
<p>Final Price: $<span id="finalPrice">{{ final_price }}</span></p>

