<div class="row d-flex justify-content-center" style="direction: rtl;font-family: Byekan, Helvetica, sans-serif">
    <div class="col-12 col-lg-5 mt-3">
        <div class="rounded text-light h-75" style="box-shadow: 3px 2px 13px black;">
            <h3 class="text-warning text-center pt-2">{{ data['site_name'] }} </h3>
            <div class="p-2 ">
                <i class="fal fa-coffee bg-light rounded p-1 mt-2" style="line-height: 150%;color: black ; box-shadow: 3px 2px 13px black;">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis debitis dolor dolores nostrum pariatur quibusdam quis sed unde. A consequuntur deleniti deserunt, ea et facere illo obcaecati odit tempora velit.
                </i>
                <pr></pr>
                <i class="fal fa-coffee bg-light rounded p-1 mt-2" style="line-height: 150%;color: black  ; box-shadow: 3px 2px 13px black;">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad animi, aspernatur consequatur ex excepturi fuga laudantium magni maiores nisi porro quod rem reprehenderit voluptatibus? A accusamus aspernatur dolorum eveniet perspiciatis!
                </i>
                <pr></pr>
                <i class="fal fa-coffee bg-light rounded p-1 mt-2" style="line-height: 150%;color: black ; box-shadow: 3px 2px 13px black;">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis magnam nostrum quisquam quos sequi, tempore. A assumenda beatae officiis omnis? Aspernatur commodi consequuntur cum harum maiores molestias nemo, sequi temporibus.
                </i>
                <pr></pr>
                <i class="fal fa-coffee bg-light rounded p-1 mt-2 " style="line-height: 150%;color: black ; box-shadow: 3px 2px 13px black;">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid iusto labore nam natus non obcaecati veniam? Dolore nesciunt quibusdam ratione. Cupiditate doloremque ducimus eos expedita minima pariatur provident repellat soluta.
                </i>
            </div>
            <h5 class="text-warning text-center">managed by</h5>
            <ul class="list-group text-center p-2 m-1">
                <li class="list-group-item bg-light ">Ario</li>
            </ul>
        </div>
    </div>
    <div class="col-12 col-lg-5 mt-3">
        <div class="rounded text-light h-75" style="box-shadow: 3px 2px 13px black;">
            <img src="{{ url_for('static', filename='images/cafe_pic_talkh_shirin.jpg') }}" alt="CAFE" class="rounded float-start"
                 width="100%" height="100%">
        </div>
    </div>

</div>


