{% extends "cashier/_base.html" %}
{% block title %}{{ data.page.title }}{% endblock %}

{% block extra_head %}
{% endblock %}

{% block content_title %}{{ data.page.title }}{% endblock %}

{% block content_body %}
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-5 p-4 shadow border rounded">
            <form method="POST" action="{{ url_for('.cashier_add_table') }}">
                {% if get_flashed_messages() %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ get_flashed_messages()[0] }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}

                {{ form.csrf_token }}

                <div class="form-group">
                    {{ form.position.label(class='form-label') }}
                    {{ form.position(size=50, class='form-control') }}
                </div>
                <div class="form-group">
                    {{ form.capacity.label(class='form-label') }}
                    {{ form.capacity(size=50, class='form-control') }}
                </div>

                <input type="submit" value="Add Table" class="btn btn-primary w-100">
            </form>
        </div>
    </div>
{% endblock %}


{% block extra_footer %}
{% endblock %}