*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

#banner{
    height: 100vh;
    overflow: hidden;
}
#item-count{
    width:4em;
    font-size:20px !important;
}
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color: #673801;
	color:#FFF;
	border-radius:50px;
	text-align:center;
}




.items{
    box-shadow: 1px 1px 7px black;
    color: rgb(215, 215, 215)
}

.order{
    position:fixed;
    display : block;
    top: 26vh;
    cursor: pointer;
    padding:2em;
    height:6em;
    opacity: 85%;
    width:6em;
    box-shadow:1px 1px 5px black;
}

.order:hover{
    opacity: 100% !important;
}

.nav-logo{
    color: #d78c02 !important;
    font-family: Byekan;
    text-shadow: 0px 0px 2px orange;
}
.nav-link{
    font-size: 14px;
}


.customize-modal{
    background-color: rgba(7, 7, 7, 0.68) !important;
    color: white !important;
}

.index-page-home > img{
    border-radius: 3rem;
    transition: all ease-in-out 300ms;
    height: fit-content;
}

.index-page-home > img:hover{
    transform: scale(1.03,1.03);
}
.navigation-link{
    cursor:pointer;
}

.carousel-inner {
    height: 23rem;
    border-radius: 10px;
}

.carousel-inner > .carousel-item > img{
    height: 23rem;
}

.add-to-cart-btn {
    border-radius:9px;
    width:6em;
    height: 2em;
    justify-content:center;

}

.add-to-cart-btn:hover{
    background-color: green!important;
}
#count-item-input {
    border-radius:9px;
    padding: 10px;
    width:6em;
    height: 2em ;
    justify-content:center;
}

#count-item-input:hover {
    border-color: dodgerblue!important;
}
.menu-item-box{
    border: solid 1px rgba(0, 0, 0, 0.65);
    box-shadow: 12px 10px 37px black;
}

#cart-float-btn{
    border: 1px solid gray;
}

#cart-float-btn:hover{
    transform: scale(1.07,1.07);
}
.menuItem-card:hover {
    transition: all ease-out 300ms;
}
.menuItem-card:hover{
    transform: scale(1.02,1.02);
}
.tables:hover{
    background-color: rgb(0, 0, 0);
}
.table-item{
    position: relative;
    border-radius: 15px;
    cursor: pointer;
}

.table-bg{
    width: 100%;
    height: 100%;
    opacity:0.25;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px
}
/* Coffee cup styles */
:root {
  --body-bg: sienna;
  --steam-color: silver;
  --coffee-color: ivory;
  --steam-animation: steaming 2500ms ease infinite;
  --steam-height: -10px;
  --steam-start-height: 8px;
  --steam1-delay: 100ms;
  --steam2-delay: 250ms;
  --steam3-delay: 50ms;

}

.steam {
  fill: var(--steam-color);
  transform: translateY(var(--steam-start-height));
  animation: var(--steam-animation);
}

.steam1 {
  animation-delay: var(--steam1-delay);
}
.steam2 {
  animation-delay: var(--steam2-delay);
}
.steam3 {
  animation-delay: var(--steam3-delay);
}

.coffee-cup {
  fill: var(--coffee-color);
}


@keyframes steaming {
  50% {
    transform: translateY(var(--steam-height));
  }
}

/* Base Styles */
.svg-wrapper {
    display:inline;
    width: 36px;
    height: 40px;
}