{% extends "cashier/_base.html" %}
{% block title %}{{ data.page_title }}{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/cashier/categories/add_category.css') }}">
{% endblock %}
{% block content_title %}{{ data.page_title }}{% endblock %}
{% block content_body %}
<div class="row justify-content-center text-capitalize">
    <div class="col-12 col-sm-10 col-md-8 col-lg-5">
        <form class="bg-dark rounded text-light p-4 d-block"
              action="{{ url_for('.cashier_add_category') }}" method="post">
            {{ form.csrf_token }}
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}

            <!--  Category name  -->
            <div class="mb-3 mt-3">
                {{ form.category_name.label }}
                {{ form.category_name(class='form-control', placeholder='Name Here...') }}
            </div>

            <!--  Category Root      -->
            <div class="mb-3" id="root-category">
                {{ form.category_root.label }}
                {{ form.category_root(class='form-select mb-3') }}
            </div>

            <!--  Discount id   -->
            <div class="mb-3" id="discount">
                {{ form.discount_id.label }}
                {{ form.discount_id(class='form-select mb-3') }}
            </div>


            <!--   Switch     -->
            <div class="form-check form-switch mb-3">
                {{ form.is_root.label(class='form-check-label') }}
                {{ form.is_root(class='form-check-input mx-3') }}

            </div>

            <button type="submit" class="btn btn-primary w-100">Add category</button>

        </form>
    </div>
</div>
{% endblock %}
{% block extra_footer %}
<script>
    $("#is_root").on('change', () => {
        $("#category_root").parent().slideToggle()
    });

    var alertList = document.querySelectorAll('.alert')
    alertList.forEach(function (alert) {
        new bootstrap.Alert(alert)
    });
</script>
{% endblock %}



