{% extends "cashier/_base.html" %}
{% block title %}Add Category{% endblock %}
{% block extra_head %}
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
     <style>

    @media only screen and (max-width: 600px) {

        body {
            width: 100vw !important;
            padding-left: 1vw !important;

        }
    }

    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    button[type=submit] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .onoffswitch2 {
        position: relative;
        width: 90px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }

    .onoffswitch2-checkbox {
        display: none;
    }

    .onoffswitch2-label {
        display: block;
        overflow: hidden;
        cursor: pointer;
        border: 2px solid #999999;
        border-radius: 5px;
    }

    .onoffswitch2-inner {
        display: block;
        width: 200%;
        margin-left: -100%;
        -moz-transition: margin 0.3s ease-in 0s;
        -webkit-transition: margin 0.3s ease-in 0s;
        -o-transition: margin 0.3s ease-in 0s;
        transition: margin 0.3s ease-in 0s;
    }

    .onoffswitch2-inner:before, .onoffswitch2-inner:after {
        display: block;
        float: left;
        width: 50%;
        height: 30px;
        padding: 0;
        line-height: 30px;
        font-size: 14px;
        color: white;
        font-family: Trebuchet, Arial, sans-serif;
        font-weight: bold;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .onoffswitch2-inner:before {
        content: "not root";
        padding-left: 10px;
        background-color: #a0a19f;
        color: #FFFFFF;
    }

    .onoffswitch2-inner:after {
        content: "root";
        padding-right: 10px;
        background-color: #EEEEEE;
        color: #999999;
        text-align: right;
    }

    .onoffswitch2-switch {
        display: block;
        width: 18px;
        margin: 0px;
        background: #FFFFFF;
        border: 2px solid #999999;
        border-radius: 5px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 68px;
        -moz-transition: all 0.3s ease-in 0s;
        -webkit-transition: all 0.3s ease-in 0s;
        -o-transition: all 0.3s ease-in 0s;
        transition: all 0.3s ease-in 0s;

    }

    .onoffswitch2-checkbox:checked + .onoffswitch2-label .onoffswitch2-inner {
        margin-left: 0;
    }

    .onoffswitch2-checkbox:checked + .onoffswitch2-label .onoffswitch2-switch {
        right: 0px;
    }
</style>

{% endblock %}
{% block content_title %}Add Category{% endblock %}
{% block content_body %}
    <div class="row w-75 mx-auto">

        <h1 class="text-center"> Add New category </h1>
        <form class="bg-dark rounded text-light p-4 d-block" style="box-shadow: 3px 2px 13px black;"
          action="{{ url_for("cashier_add_category") }}" method="post">

            {% if get_flashed_messages() %}

                <div class="alert alert-primary alert-dismissible fade show" role="alert">

                            {{ get_flashed_messages()[0] }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

                </div>

            {% endif %}

        <div class="mb-3 mt-3">
            <label for="name">category Name:</label>
            <input type="text" class="form-control" id="name" placeholder="category name here ..." name="category" required>
        </div>
        <div class="mb-3" id="root-category">
            <label for="root">root main:</label>
            <select id="root" name="root_id">
                {% for cat in items_category %}
                    <option value="{{ cat.id }}">{{ cat.category }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3" id="discount">
            <label for="discount">Discount:</label>
            <select id="discount" name="discount_id">
                {% for discount in items_discount %}
                    <option value="{{ discount.id }}">{{ discount.value }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="col-md-2">


            <div class="onoffswitch2">
                <input type="checkbox" name="onoffswitch2" class="onoffswitch2-checkbox" id="myonoffswitch2" checked>
                <label class="onoffswitch2-label" for="myonoffswitch2">
                    <span class="onoffswitch2-inner"></span>
                    <span class="onoffswitch2-switch"></span>
                </label>
            </div>

        </div>
        <button type="submit" class="btn btn-primary">Add category</button>

    </form>
    </div>
{% endblock %}
{% block extra_footer %}
<script>
    $('#myonoffswitch2').on('click', function () {
        $('#root-category').toggle()
    })

    var alertList = document.querySelectorAll('.alert')
    alertList.forEach(function (alert) {
      new bootstrap.Alert(alert)})
</script>
{% endblock %}



