{% extends "cashier/_base.html" %}

{% block title %}{{ data.page.title }}{% endblock %}

{% block extra_head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../../static/css/cashier/Cashier_order_served_css.css">
{% endblock %}

{% block content_title %}
    {{ data.page.title }}
{% endblock %}

{% block content_body %}
    <div class="row justify-content-center">
            <div>
                <h1 class="title text-center"> {{ data.page.title }}</h1>
                <table class="table" id="customers">
                    <thead>
                        <tr>
                            <th class="text-center black">ID</th>
                            <th class="text-center black">menu item</th>
                            <th class="text-center black">count</th>
                            <th class="text-center black">receipt</th>
                            <th class="text-center black">create time</th>
                        </tr>
                    </thead>

                <tbody id="row">
                {% for item in items %}
                    <tr>
                        <td class="text-center">{{ item.id }}</td>
                        <td class="text-center">{{ item.menu_item }}</td>
                        <td class="text-center">{{ item.count }}</td>
                        <td class="text-center">{{ item.receipt_id }}</td>
                        <td class="text-center">{{ item.create_time }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <button id="submit" type="button" class="btn btn-danger btn-sm btn-block ">Update</button>

        </div>
    </div>
{% endblock %}

{% block extra_footer %}
    <script>
    $("#submit").on('click', function () {
        $.ajax({
            url:"{{url_for(title_get)}}",
            type:'GET'
        });
        console.log(13)
    });
</script>
{% endblock %}



