    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <div class="panel">
                <div class="panel-body">
                    {% for item in items %}
                     <input type="hidden" class="form-control" name="name" id="item_id" value="{{ item.id }}" required="" maxlength="70" >
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="name"> Item Name </label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" name="name" id="name" value="{{ item.name }}" required="" maxlength="70" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="Price"> Price </label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" name="price" id="Price" value="{{ item.price }}" required="" maxlength="70" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="serving_time"> serving time </label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" name="serving_time" id="serving_time" value="{{ item.serving_time_period }}" required="" maxlength="70">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="estimated"> estimated cooking time (minute)</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" name="estimated" id="estimated" value="{{ item.estimated_cooking_time }}" required="" maxlength="70">
                        </div>
                    </div>
                    {% endfor %}
                    <div class="form-group">
                        <label for="discount" class="col-sm-4 control-label">discount</label>
                        <div class="col-sm-12">
                            <select id="discount" name="discount" class="form-control" required="">
                                <option value="" disabled="" selected="">Select your discount</option>
                                    {% for i in discounts %}
                                    <option>{{ i.value }}</option>
                                    {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="category" class="col-sm-4 control-label">category</label>
                        <div class="col-sm-12">
                            <select id="category" name="category" class="form-control" required="">
                                <option value="" disabled="" selected="">Select your discount</option>

                                    {% for c in categories %}
                                    <option>{{ c.category }}</option>
                                    {% endfor %}

                            </select>
                        </div>
                    </div>
                    <span class="btn btn-primary btn-block btn-lg btn-file">
                        Browse image <input type="file" name="file">
                    </span>
                    <button id="send" name="send" class="btn btn-primary btn-block btn-lg">save</button>
                </div>
            </div>
        </div>
    </div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    $('#send').on('click', function () {
        let target_url = "{{ url_for('cashier_list_menu') }}";
        let id = $('#item_id').val()
        let name = $('#name').val()
        let price = $('#Price').val()
        let serving_time = $('#serving_time').val()
        let estimated = $('#estimated').val()
        let discount = $('#discount').val()
        let category = $('#category').val()
        let DataSend = {
            view: 'list_item',
            id: id,
            name:name,
            price:price,
            serving_time:serving_time,
            estimated:estimated,
            discount:discount,
            category:category
        }
        console.log(DataSend)
        $.ajax({
            url: `${target_url}`,
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(DataSend),
            success: function (response){
                Swal.fire(
                  'Item updated',
                  'updated successfully!',
                  'success'
                )
            }

        })
    })
</script>