<div class="row">
    <div class="mx-auto col-12 col-sm-10">
        <div class="panel">
            <div class="panel-body">

                <input type="hidden" class="form-control" name="name" id="item_id"
                       value="{{ item.id }}" required="" maxlength="70">
                <!--   item name     -->
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="name"> Item Name </label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" name="name" id="name" value="{{ item.name }}"
                               required="" maxlength="70">
                    </div>
                </div>
                <!--   item price     -->
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="Price"> Price </label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" name="price" id="Price" value="{{ item.price }}"
                               required="" maxlength="70">
                    </div>
                </div>
                <!--   serving time     -->
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="serving_time"> serving time </label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" name="serving_time" id="serving_time"
                               value="{{ item.serving_time_period }}" required="" maxlength="70">
                    </div>
                </div>
                <!-- estimated cooking time -->
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="estimated"> estimated cooking time (minute)</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" name="estimated" id="estimated"
                               value="{{ item.estimated_cooking_time }}" required="" maxlength="70">
                    </div>
                </div>

                <!--  discount          -->
                <div class="form-group">
                    <label for="discount" class="col-sm-4 control-label">discount</label>
                    <div class="col-sm-12">
                        <select id="discount" name="discount" class="form-control" required="">
                            <option disabled="" selected="">Select your discount</option>
                            {% for d in discounts %}
                            <option value="{{ d.id }}" {% if item.discount_id== d.id %}selected{% endif %}>{{ d.value
                                }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <!--    category        -->
                <div class="form-group">
                    <label for="category" class="col-sm-4 control-label">category</label>
                    <div class="col-sm-12">
                        <select id="category" name="category" class="form-control" required="">
                            <option value="" disabled="" selected="">Select your discount</option>

                            {% for c in categories %}
                            <option value="{{ c.id }}"
                                    {% if item.discount_id== c.id %}selected{% endif %}
                            >{{ c.category_name }}
                            </option>
                            {% endfor %}

                        </select>
                    </div>
                </div>
                <!--      picture       -->
                <div class="my-2">
                    <label for="targetImage">{{ item.picture_link }}</label><br>
                    <a href="{{ url_for('static', filename='images/menu_items/') }}{{ item.picture_link }}"
                       target="_blank">

                        <img class="rounded"
                             src="{{ url_for('static', filename='images/menu_items/') }}{{ item.picture_link }}"
                             alt="" id="targetImage" width="100" height="100">
                    </a>
                </div>
                <span class="btn btn-primary btn-block btn-lg btn-file">
                    Browse image
                    <input type="file" name="file"
                           id="picture_link"
                           value="{{ url_for('static', filename='images/menu_items/') }}{{ item.picture_link }}"
                    />

                </span>

                <button id="sendData" class="btn btn-primary btn-block btn-lg">Save</button>

            </div>
        </div>
    </div>
</div>

<script>
    // show uploaded image in img tag on change of file input
    $("#picture_link").on('change', function () {

        let file = $(this).prop('files')[0];

        // image type validation
        if (!/image\/*/.test(file.type)) {
            Swal.fire(
                'Failed',
                'Wrong type for image input!',
                'error'
            );
            $(this).focus()
            return;
        };

        let tempURL = URL.createObjectURL(file);

        $("#targetImage").attr('src', tempURL);
        $("label[for='targetImage']").text(file.name);

        // console.log(tempURL);

    });

    function sendImage(fileInput) {
        /*
            Takes a file input object then returns a POST request promise with image as form data
        */

        // create new form data instance for storing image file
        let form_data = new FormData();
        let file = fileInput.prop('files')[0]
        form_data.append('file', file);

        // console.log(file);

        return $.ajax({
            type: 'POST',
            url: '/cashier_panel/list_menu',
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
            success: function (data) {
                console.log("uploading was successful: ", data);
            },
            error: function (error) {
                console.log(error);
            }
        });
    }

    let changed = false;
    let formItemsList = ['#item_id', '#name', '#Price', '#serving_time', '#estimated', '#discount', '#category',
        "#picture_link"]

    $("#staticBackdrop").on( "input", formItemsList.join(','), ()=>{
        changed = true;
        console.log(changed)
    });

    // click event for send data submit
    $('#sendData').on('click', function () {
        let target_url = "{{ url_for('cashier_list_menu') }}";
        let id = $('#item_id').val()
        let name = $('#name').val()
        let price = $('#Price').val()
        let serving_time = $('#serving_time').val()
        let estimated = $('#estimated').val()
        let discount = $('#discount').val()
        let category = $('#category').val()
        let picture_link = $("#picture_link");

        if (changed){
            try {

                sendImage(picture_link)
                    .then(data => {
                        console.log(data);

                        let DataSend = {
                            view: 'edit_item',
                            id: +id,
                            name: name,
                            price: +price,
                            serving_time: serving_time,
                            estimated: +estimated,
                            discount: +discount,
                            category: +category,
                            image: data
                        }

                        $.ajax({
                            url: `${target_url}`,
                            type: 'POST',
                            contentType: 'application/json',
                            data: JSON.stringify(DataSend),
                            success: function (response) {
                                Swal.fire(
                                    'Item updated',
                                    'updated successfully!',
                                    'success'
                                );
                            },
                            error: function (request, status, error) {
                                console.log(error)
                                Swal.fire('Failed', "something went wrong", 'error');
                            }
                        });
                    })
                    .catch(err => console.log(err));

            } catch (error) {
                console.log(error);
            }
        } else {
            Swal.fire(
                'No changes!',
                'No changes detected!',
                'info'
            );
        }

    });


</script>