<div class="row justify-content-center p-2 m-0">
    {% for item in items %}
        <div class="card col-11 col-sm-7 col-md-6 col-lg-4 m-3 bg-dark rounded menuItem-card"
             style="height:350px; justify-content:center;box-shadow: 1px 1px 30px #150f0f;"
        >
            <div class="m-0 p-0 item-image">
                <a href="{{ url_for('.static', filename='images/menu_items/') }}{{ item.picture_link }}"
                   target="_blank"
                   class="position-relative"
                >
                    {% if item.final_price %}
                    <span
                        class="position-absolute translate-middle badge rounded-pill bg-danger"
                        style="font-size:1rem;"
                    >
                        {{ item.price - item.final_price }}%
                    </span>
                    {% endif %}
                    <img class="card-img-top mt-2 img-thumbnail border-none"
                         style="height:200px;"
                         src="{{ url_for('.static', filename='images/menu_items/') }}{{ item.picture_link }}"
                         alt="{{ item.name }}">
                </a>
            </div>
            <h5 class="text-center text-warning mt-3">{{ item.name }} <span></span></h5>
            {% if item.discount_id != 1 %}

                <p class="text-center text-light" style="text-decoration: line-through;">${{ item.price }}</p>
                <p class="text-center text-light" >${{ item.final_price }}</p>

            {% else %}
                <p class="text-center text-light">${{ item.price }}</p>
            {% endif %}
        </div>
    {% endfor %}
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->

<!--    <section class="pt-5 pb-5">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-6">-->
<!--                <h3 class="mb-3">Carousel cards title </h3>-->
<!--            </div>-->
<!--            <div class="col-6 text-right">-->
<!--                <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">-->
<!--                    <i class="fa fa-arrow-left"></i>-->
<!--                </a>-->
<!--                <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">-->
<!--                    <i class="fa fa-arrow-right"></i>-->
<!--                </a>-->
<!--            </div>-->
<!--            <div class="col-12">-->
<!--                <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">-->

<!--                    <div class="carousel-inner">-->
<!--                        <div class="carousel-item active">-->
<!--                            <div class="row">-->

<!--                                <div class="col-md-4 mb-3">-->
<!--                                    <div class="card">-->
<!--                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532781914607-2031eca2f00d?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=7c625ea379640da3ef2e24f20df7ce8d">-->
<!--                                        <div class="card-body">-->
<!--                                            <h4 class="card-title">Special title treatment</h4>-->
<!--                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->

<!--                                        </div>-->

<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-md-4 mb-3">-->
<!--                                    <div class="card">-->
<!--                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1517760444937-f6397edcbbcd?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=42b2d9ae6feb9c4ff98b9133addfb698">-->
<!--                                        <div class="card-body">-->
<!--                                            <h4 class="card-title">Special title treatment</h4>-->
<!--                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->

<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-md-4 mb-3">-->
<!--                                    <div class="card">-->
<!--                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532712938310-34cb3982ef74?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3d2e8a2039c06dd26db977fe6ac6186a">-->
<!--                                        <div class="card-body">-->
<!--                                            <h4 class="card-title">Special title treatment</h4>-->
<!--                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->

<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="carousel-item">-->
<!--                            <div class="row">-->

<!--                                <div class="col-md-4 mb-3">-->
<!--                                    <div class="card">-->
<!--                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532771098148-525cefe10c23?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=3f317c1f7a16116dec454fbc267dd8e4">-->
<!--                                        <div class="card-body">-->
<!--                                            <h4 class="card-title">Special title treatment</h4>-->
<!--                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->

<!--                                        </div>-->

<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-md-4 mb-3">-->
<!--                                    <div class="card">-->
<!--                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1532715088550-62f09305f765?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=ebadb044b374504ef8e81bdec4d0e840">-->
<!--                                        <div class="card-body">-->
<!--                                            <h4 class="card-title">Special title treatment</h4>-->
<!--                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->

<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-md-4 mb-3">-->
<!--                                    <div class="card">-->
<!--                                        <img class="img-fluid" alt="100%x280" src="https://images.unsplash.com/photo-1506197603052-3cc9c3a201bd?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=0754ab085804ae8a3b562548e6b4aa2e">-->
<!--                                        <div class="card-body">-->
<!--                                            <h4 class="card-title">Special title treatment</h4>-->
<!--                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->

<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</section>
</div>