<div class="row justify-content-center p-2 m-0">
    {% if items|length > 0 %}
    {% for item in items %}
        <div class="card col-11 col-sm-7 col-md-6 col-lg-3 m-3 bg-dark rounded menuItem-card"
             style="height:350px; justify-content:center;box-shadow: 1px 1px 30px #150f0f;"
        >
            <div class="m-0 p-0 item-image">
                <a href="{{ url_for('static', filename='images/menu_items/') }}{{ item.picture_link }}"
                   target="_blank"
                   class="position-relative"
                >
                    {% if item.discount %}
                    <span
                        class="position-absolute translate-middle badge rounded-pill bg-danger"
                        style="font-size:1rem;"
                    >
                        {{ item.discount.value + item.category.discount.value|default(0) }}%
                    </span>
                    {% endif %}
                    <img class="card-img-top mt-2 img-thumbnail border-none"
                         style="height:200px;"
                         src="{{ url_for('static', filename='images/menu_items/') }}{{ item.picture_link }}"
                         alt="{{ item.name }}">
                </a>
            </div>
            <h5 class="text-center text-warning mt-3">{{ item.name }} <span></span></h5>
            {% if item.discount %}

                <p class="text-center text-light" style="text-decoration: line-through;">${{ item.price }}</p>
                <p class="text-center text-light" >${{ item.final_price }}</p>

            {% else %}
                <p class="text-center text-light">${{ item.price }}</p>
            {% endif %}
        </div>
    {% endfor %}
    {% else %}
        <div class="col-12 col-sm-10 col-md-8 col-lg-6">
            <div class="alert alert-info">
                <p>There Is no Menu Items Yet!</p>
            </div>
        </div>
    {% endif %}
</section>
</div>