<div class="row justify-content-center p-5 m-0">

    {% for item in items %}
        <div class="card m-3 bg-dark p-3 col-12 col-sm-11 col-md-5 col-lg-3 menu-item-box"
         style="height:400px; justify-content:center;">
        <!--   menu item image         -->
        <div class="m-0 p-0 item-image">

            <a href="{{ url_for('.static', filename='images/menu_items/') }}{{ item.picture_link }}"
               target="_blank"
               class="position-relative"
            >
                {% if item.final_price %}
                <span
                        class="position-absolute translate-middle badge rounded-pill bg-danger"
                        style="font-size:1rem;"
                >
                        {{ item.price - item.final_price }}%
                    </span>
                {% endif %}
                <img
                        class="card-img-top mt-2 img-thumbnail border-none"
                        src="{{ url_for('.static', filename='images/menu_items/') }}{{ item.picture_link }}"
                        alt="{{ item.name }}"
                        style="height: 200px;"
                >
            </a>

        </div>

        <!--   menu item detail        -->
        <div class="card-block text-center mt-3 detail-item">
            <h4 class="text-center text-warning itemName">{{ item.name }}</h4>
            <!--                <p class="text-center text-light itemPrice">${{ item.price }}</p>-->
            {% if item.discount %}

                <p class="text-center text-light itemPrice" data-price="{{ item.price }}"
                   data-finalprice="{{ item.final_price }}">
                    <span style="text-decoration: line-through;">${{ item.price }}</span>
                    <span class="ms-2"> ${{ item.final_price }}</span>
                </p>

            {% else %}
                <p class="text-center text-light itemPrice">${{ item.price }}</p>
            {% endif %}
            <input class="form-input w-100 itemCount" id="count-item-input" type="number" step="1"
                   data-itemid="{{ item.id }}"
                   min="1"
                   max="100"
                   value="1"
            >

            <button class="btn btn-warning w-100 my-2 add-to-cart-btn" data-itemId="{{ item.id }}">
                Add to cart
            </button>
        </div>

    </div>
    {% endfor %}

</div>


<button class="float" id="cart-float-btn" data-bs-toggle="modal" data-bs-target="#cart">
    <i class="fa fa-cart-arrow-down my-float" aria-hidden="true"></i>
</button>
