{% import 'cashier/layouts/macros.html' as macros %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link text-decoration-none">
        <img src="https://freedesignfile.com/upload/2017/07/Hand-drawn-coffee-logos-design-vector-set-07.jpg"
             alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Cafe Talkho Shirin</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="info">
                <a href="#cashier_info" class="d-block text-decoration-none">User: {% block cashier_username %}{{
                    data.user.first_name }}{% endblock %}</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                data-accordion="false">

                <!-- Dashboard -->
                <li class="nav-item">
                    {{ macros.sidebar_root(url_for('.cashier_dashboard'), "nav-icon fas fa-th", "Dashboard") }}
                </li>
                <!-- Order -->
                <li class="nav-item">
                    {{ macros.sidebar_root(url_for('.cashier_order'), "nav-icon fa fa-shopping-cart", "Order",
                    has_children=True) }}

                    <ul class="nav nav-treeview">
                        {{ macros.sidebar_child(url_for('.cashier_order'), "fas fa-list mr-1", "Orders List",
                        active=True) }}

                        {{ macros.sidebar_child(url_for('.cashier_order_status', status_id=1), "fas fa-plus mr-1", "New
                        order") }}

                        {{ macros.sidebar_child(url_for('.cashier_order_status', status_id=2), "far fa-circle nav-icon",
                        "Served order") }}

                        {{ macros.sidebar_child(url_for('.cashier_order_status', status_id=3), "far fa-circle nav-icon",
                        "Deleted order") }}


                        {{ macros.sidebar_child(url_for('.cashier_order_status', status_id=4), "far fa-circle nav-icon",
                        "cooking order") }}
                        {{ macros.sidebar_child(url_for('.cashier_order_status', status_id=5), "far fa-circle nav-icon",
                        "Paid order") }}

                    </ul>
                </li>
                <!-- Menu Items -->
                <li class="nav-item">
                    {{ macros.sidebar_root("#", "fas fa-bars mr-1", "Menu",
                    has_children=True) }}

                    <ul class="nav nav-treeview">
                        {{ macros.sidebar_child(url_for('.cashier_add_item'), "fas fa-plus mr-1",
                        "New Item") }}

                        {{ macros.sidebar_child(url_for('.cashier_list_menu'), "far fa-list nav-icon",
                        "Menu Index") }}

                    </ul>
                </li>
                <!-- Category -->
                <li class="nav-item">
                    {{ macros.sidebar_root("#", "fa fa-list-alt mr-1", "Category",
                    has_children=True) }}

                    <ul class="nav nav-treeview">
                        {{ macros.sidebar_child(url_for('.cashier_add_category'), "fas fa-plus mr-1",
                        "New category", active=True) }}
                        <!--   TODO: Add category index Page      -->
                        {# macros.sidebar_child(url_for('.cashier_list_category'), "far fa-list nav-icon",
                        "Category Index") #}

                    </ul>
                </li>
                <!-- Tables -->
                <li class="nav-item">
                    {{ macros.sidebar_root("#", "fa fa-list-alt mr-1", "Table",
                    has_children=True) }}

                    <ul class="nav nav-treeview">
                        {{ macros.sidebar_child(url_for('.cashier_add_table'), "fas fa-plus mr-1",
                        "New Table") }}

                        {{ macros.sidebar_child(url_for('.cashier_table'), "far fa-list nav-icon",
                        "Table List") }}
                    </ul>
                </li>
                <!-- Discount -->
                <li class="nav-item">
                    {{ macros.sidebar_root("#", "fa fa-percent mr-1", "Discount",
                    has_children=True) }}

                    <ul class="nav nav-treeview">
                        {{ macros.sidebar_child(url_for('.cashier_add_discount'), "fas fa-plus mr-1",
                        "New Discount") }}
                        <!--    TODO: add discount list page            -->
                        {# macros.sidebar_child(url_for('.cashier_discount_list'), "far fa-list nav-icon",
                        "Discount list") #}

                    </ul>
                </li>
                <!--   Site Setting     -->
                <li class="nav-item">
                    {{ macros.sidebar_root("#", "fa fa-cog mr-1", "Site Setting",
                    has_children=True) }}

                    <ul class="nav nav-treeview">
                        <!-- TODO: add home page setting           -->
                        {# macros.sidebar_child('#', "fas fa-home mr-1",
                        "Home Page") #}

                        {{ macros.sidebar_child(url_for('cashier.about_setting'), "far fa-file nav-icon",
                        "About Page") }}

                    </ul>
                </li>
                <!--   Logout     -->
                <li class="nav-item">
                    {{ macros.sidebar_root(url_for('.logout'), "fas fa-sign-out-alt mr-1", "Logout") }}
                </li>
            </ul>
        </nav>
    </div>
</aside>