<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="{{ url_for("static", filename="main.css") }}">
    {% include "fonts.html" %}
    {% include "bootstrap.html" %}
    <title>{{ data.page.title}}</title>
</head>
<body  style="background-color: #b0b0b0;">
    {% include "banner.html" %}
    <div class="container-fluid" style="border: 2px solid black;">
        <div class="row mt-2 justify-content-center">
            <div class="col-11 text-center" style="border:2px solid black;">
                {% block CONTENTS %}{% endblock %}
            </div>
        </div>
    </div>
</body>
</html>