<!DOCTYPE html>
<!doctype html>
<html dir="rtl" lang="fa-IR">
<head>
    <meta charset="utf-8">
    <title>contact us</title>
</head>

<body>
<div class="container" style="direction: rtl;font-family: Arial, Helvetica, sans-serif">
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-lg-5 mt-3">
            <div class="rounded text-light h-75" style="box-shadow: 3px 2px 13px black;">
                <h3 class="text-warning text-center">کافه تلخ و شیرین </h3>
                <ul class="pr-2 text-right">
                    <li>با منظره ای رویایی در بالاترین نقطه منطقه ، چشم اندازی زیبا و هوایی دلپذیر از تراس کافه تلخ
                        وشیرین غروب
                        زیبای خورشید که با رنگهای بنفش و نارنجی رنگ آمیزی شده است تا شما را به میهمانی ستاره ها ببریم.
                    </li>
                    <pr></pr>
                    <li>فضای مناسب برای دیدار های دوستانه ،قرارهای کاری و لحظات خاطره انگیز برای تمام فصول سال با تهویه
                        مناسب و نور کافی ، فضایی برای تمام سلیقه ها
                    </li>
                    <pr></pr>
                    <li>لحضات زیبای خود را با ما در کافه تلخ وشیرین تجربه کنید و به دوستان نیز کافه تلخ و شیرین را
                        پیشنهاد دهید.
                    </li>
                    <pr></pr>
                    <li>ما در کافه تلخ و شیرین  با استفاده از بهترین و تازه ترین مواد اولیه و کادری مجرب همه روزه در
                        خدمت
                        مشتریان عزیز هستیم .
                    </li>
                </ul>
                <h5 class="text-warning text-right">با مدیریت:</h5>
                <ul class="text-light text-center">
                    <li>سید سجاد صفا</li>
                    <li>محمد رضا حسینی</li>
                    <li>علیرضادلخواهی</li>
                    <li>امیر علی دارابپور</li>
                    <li>میثم نصرتی اذر</li>
                    <li>محمد نسیمی</li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-lg-5 mt-3">
            <div class="rounded text-light h-75" style="box-shadow: 3px 2px 13px black;">
                <img src="../static/images/cafe_pic_talkh_shirin.jpg" alt="CAFE" class="rounded float-start"
                     width="100%" height="100%">
            </div>
        </div>

    </div>
</div>

</body>
</html>
