<div class="row d-flex justify-content-center" style="direction: rtl;font-family: Byekan, Helvetica, sans-serif">
    <div class="col-12 col-lg-5 mt-3">
        <div class="rounded text-light h-75" style="box-shadow: 3px 2px 13px black;">
            <h3 class="text-warning text-center pt-2">کافه تلخ و شیرین </h3>
            <div class="p-2 ">
                <i class="fal fa-coffee bg-light rounded p-1 mt-2" style="line-height: 150%;color: black ; box-shadow: 3px 2px 13px black;">
                    با منظره ای رویایی در بالاترین نقطه منطقه ، چشم اندازی
                    زیبا و هوایی دلپذیر از تراس کافه تلخ وشیرین غروب
                    زیبای خورشید که با رنگ های بنفش و نارنجی رنگ آمیزی شده است تا شما را به میهمانی ستاره ها ببریم.
                </i>
                <pr></pr>
                <i class="fal fa-coffee bg-light rounded p-1 mt-2" style="line-height: 150%;color: black  ; box-shadow: 3px 2px 13px black;">
                    فضای مناسب برای دیدار های دوستانه ،قرارهای کاری و لحظات خاطره انگیز برای تمام فصول سال با تهویه
                    مناسب و نور کافی ، فضایی برای تمام سلیقه ها
                </i>
                <pr></pr>
                <i class="fal fa-coffee bg-light rounded p-1 mt-2" style="line-height: 150%;color: black ; box-shadow: 3px 2px 13px black;">
                    لحضات زیبای خود را با ما در کافه تلخ وشیرین تجربه کنید و به دوستان نیز کافه تلخ و شیرین را
                    پیشنهاد دهید.
                </i>
                <pr></pr>
                <i class="fal fa-coffee bg-light rounded p-1 mt-2 " style="line-height: 150%;color: black ; box-shadow: 3px 2px 13px black;">
                    ما در کافه تلخ و شیرین با استفاده از بهترین و تازه ترین مواد اولیه و کادری مجرب همه روزه در خدمت
                    مشتریان عزیز هستیم.
                </i>
            </div>
            <h5 class="text-warning text-center">با مدیریت:</h5>
            <ul class="list-group text-center p-2 m-1">
                <li class="list-group-item bg-light ">سید سجاد صفا</li>
                <li class="list-group-item bg-light">محمد رضا حسینی</li>
                <li class="list-group-item bg-light">علیرضادلخواهی</li>
                <li class="list-group-item bg-light">میثم نصرتی اذر</li>
                <li class="list-group-item bg-light">امیر علی دارابپور</li>
                <li class="list-group-item bg-light">محمد نسیمی</li>
            </ul>
        </div>
    </div>
    <div class="col-12 col-lg-5 mt-3">
        <div class="rounded text-light h-75" style="box-shadow: 3px 2px 13px black;">
            <img src="../static/images/cafe_pic_talkh_shirin.jpg" alt="CAFE" class="rounded float-start"
                 width="100%" height="100%">
        </div>
    </div>

</div>


