<div class="row justify-content-center" style="direction: rtl;font-family: Byekan, Helvetica, sans-serif">
    <div class="col-12 col-lg-5 mt-3">
        <div class="rounded text-light h-100 p-2" style="box-shadow: 3px 2px 13px black;">
            <h3 class="text-center text-warning "> به کافه تلخ و شیرین خوش امدید </h3>
            <h5 class="pt-2">ساعات کاری:</h5>
            <p>شنبه تا پنجشنبه
                10صبح-12شب</p>
            <p>جمعه بسته است.</p>

            <h5>پشتیبانی</h5>
            <p> شماره تلفن ثابت: 04152234566</p>
            <p> شماره تلفن همراه: 09305161131</p>
            <p>ایمیل: cofe_talkh_shirin@gmail.com</p>

            <h5>ادرس:</h5>
            <p> زنجان.میدان انقلاب.خیابات ۷ تیر کافه تلخ وشیرین</p>
            <iframe width="100%" height="400"
                    src="https://maps.google.com/maps?q=Art%20coffe,zanjan%20&t=&z=13&ie=UTF8&iwloc=&output=embed">
            </iframe>
        </div>
    </div>
    <div class="col-12 col-lg-5 mt-3 ">

        <form class="rounded text-light h-100 p-3" style="box-shadow: 3px 2px 13px black;">
            <div class="mb-3">
                <label for="text" class="form-label">نام:</label>
                <input type="text" class="form-control" id="text" name="firstname">
            </div>
            <div class="mb-3">
                <label for="text" class="form-label">نام خانوادگی:</label>
                <input type="text" class="form-control" id="text" name="lastname">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">ایمیل:</label>
                <input type="email" class="form-control" id="email" name="email">
            </div>
            <div class="mb-3">
                <label for="text" class="form-label">پیام:</label>
                <textarea class="form-control" id="TextArea" rows="19" name="Message"></textarea>
            </div>
            <input type="submit" class="btn w-100 btn-success" value="ارسال">

        </form>
    </div>

</div>
