<div class="row mx-0">
    <div class="col-12 m-0 p-0">
        <nav class="navbar navbar-expand-lg navbar-dark" style="padding-left:25px; background-color: #1b1e21">
            <div class="container-fluid">
                <a class="navbar-brand" style="text-shadow: 1px 0px 9px;color: #ff872d ;font-family: 'Russo One', sans-serif;" href="#">Cafe Maktab</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        {% for item in data['links'] %}
                            {% if item == data.title %}
                                <li class="nav-item mx-4 active">
                                    <a class="nav-link" href="{{url_for(item)}}">{{ item.replace("_"," ") }} <span class="sr-only"></span></a>
                                </li>
                            {% else %}
                                <li class="nav-item mx-4">
                                    <a class="nav-link" href="{{ url_for(item) }}">{{ item.replace("_"," ") }} <span class="sr-only"></span></a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>

