<div class="row justify-content-center p-5 m-0">
    {% for item in items %}
        <div class="card m-3 bg-dark" style="width: 10rem;height:15rem; justify-content:center;">
            <div class="m-0 p-0 item-image">
                <img class="card-img-top mt-2 img-thumbnail border-none" src="../static/images/{{ item.picture_link }}"
                     alt="not">
            </div>
            <div class="card-block">
                <h4 class="text-center text-warning">{{ item.name }}</h4>
                <p class="text-center text-light">{{ item.price }}</p>
                <input class="form-input" style="border-radius:9px; width:6em;height: 2em ;justify-content:center;" type="number" step="1"
                       min="1"
                       max="100" id="count-{{ item.id }}" value="1">

            <button class="btn btn-warning" style="border-radius:9px; width:6em;height: 2em;justify-content:center;"
                    onclick="order({{ item.id }})">سفارش
            </button>
        </div>
        </div>
    {% endfor %}

</div>


<button class="float" onclick="cart_loader()" data-bs-toggle="modal" data-bs-target="#cart">
    <i class="fa fa-cart-arrow-down my-float" aria-hidden="true"></i>
</button>
<div class="modal fade" id="cart" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content customize-modal">
            <div class="modal-header text-center">
                <h5 class="modal-title w-100 text-info" id="exampleModalLabel">سبد خرید شما</h5>
            </div>
            <div class="modal-body" style="direction: rtl">
                <div class="container" id="cart-loader">

                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger text-center"  data-bs-dismiss="modal">بستن</button>
                <button class="btn btn-primary text-center" onclick="payment()" data-bs-dismiss="modal">پرداخت</button>
            </div>
        </div>
    </div>
</div>
